/* ANIMATIONS */
@keyframes expand-unexpand {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }

    100% {
      transform: scale(1);
    }
  }

@keyframes expand-unexpand2 {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}

/* VARIABLES */
:root {
    --style-font-titles: 'Oswald', sans-serif;
    --style-font-paragraphs: 'Open Sans', sans-serif;
    --green-color: #07643D;
    --white-color: #FFF;
    --grey-color: #464646;
    --dark-grey-color: #3D3D3D;
    --clear-grey-color: #A0A0A0;
    --clear-black-color: #141414;
    --clear2-black-color: #1B1B1B;
    --almost-black-color: #0000004d;
    --base-font-size: 16px;
}

a {
    text-decoration: none;
    color:var(--white-color);
}

body {
    font-family: var(--style-font-titles);
    color: var(--grey-color);
    cursor: url("imagenes/cursor.png"), auto;
    font-size: var(--base-font-size);
}

/* HEADER */
header {
    background-image: url("imagenes/background.webp");
    background-size: cover;
    color: var(--white-color);
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 2.5fr 1fr;
    width: 100%; 
    height: 100vh;
}

.button1 {
    grid-area: 1 / 1 / 2 / 2;
    margin: 40px;
    
}

.logo {
    grid-area: 1 / 1 / 2 / 2;
    margin: 20px;
    margin-left: 180px;
    animation: expand-unexpand 3s infinite ease-in-out;
}

.m-logo {
    width: 100px;
}

.select-menu {
   display:block;
   margin-left: 185px;
   margin-top: 15px;
}

nav {
    grid-area: 1 / 3 / 2 / 4;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35px;
    padding: 0;
    width: 500px;
    margin-left: 150px;
}

ul {
    list-style: none;
}

.menu-text1, .menu-text2, .menu-text3, .menu-text4, .menu-text5, .menu-text6 {
    font-family: var(--style-font-titles);
    font-size: 1rem;
   
}

.menu-text:focus {
    outline: 2px solid #0050a5;
}

.menu-text1::before {
    content: ""; 
    position: absolute; 
    top: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1; 
}

.text-header {
    grid-area: 2 / 2 / 3 / 6;
    justify-self: center;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

h1 {
    font-size: 3.2rem;
    width: 450px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.2;
    transition: color 0.3s ease-in-out;
}

h1:hover {
    color: var(--green-color);
}

.paragraph-header {
    font-family: var(--style-font-paragraphs);
    font-weight: 400;
    font-size: 1rem;
    width: 560px;
    line-height: 1.8;
}

.social {
    grid-area: 2 / 6 / 3 / 6;
}

.social-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    padding: 0;
    height: 100%;
}

.facebook, .twitter, .linkedin, .instagram {
    transition: transform 0.5s ease, color 0.3s ease;
    margin-left: 100px;
    margin-bottom: 20px;
}

.facebook:hover, .twitter:hover, .linkedin:hover, .instagram:hover {
    transform: rotate(360deg);
}

.social-focus:focus {
    outline: 2px solid #0050a5;
}

.form-container {
    grid-area: 3 / 1 / 4 / 7;
    padding: 15px;
    border-radius: 50px;
    background-color: var(--white-color);
    justify-self: center;
    height: max-content;
}

.input-form1, .input-form2, .input-form3 {
    color: var(--clear-grey-color);
    border: none;
    width: 150px;
    font-size: 0.9rem;
}

.input-form1 {
    text-indent: 30px;
    background-image: url("imagenes/name.png");
    background-repeat: no-repeat;
    background-position:left;
}

.input-form2 {
    text-indent: 30px;
    background-image: url("imagenes/email.png");
    background-repeat: no-repeat;
    background-position:left;
}

.input-form3 {
    text-indent: 30px;
    background-image: url("imagenes/phone.png");
    background-repeat: no-repeat;
    background-position:left;
    margin-right: 80px;
}

.button-form {
    color: var(--white-color);
    background-color:var(--green-color);
    width: 200px;
    border-radius: 25px;
    padding: 12px;
    text-align: center; 
    font-family: var(--style-font-paragraphs);
    font-size: 0.8rem;
    letter-spacing: 0.8px;
    margin-left: 30px;
    transition: color 0.5s ease-in-out;
    border: solid 1px var(--green-color);
}

.button-form:hover {
    color:#13be77;
    font-weight: 600;
    background-color: var(--white-color);
    border: solid 1px var(--green-color);
}

/* SECTION-1 */
.text-section1 {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    text-align: center;
    width: 490px;
    padding: 60px;
}

.line-section1 {
    color: var(--green-color);
    font-family: var(--style-font-paragraphs);
    font-weight: 550;
    padding: 7px;
}

.title-section1 {
    font-size: 2.5rem;
    font-weight: 400;
    width: 650px;
    line-height: 1.2;
}

.paragraph-section1 {
    font-family: var(--style-font-paragraphs);
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.9;
    width: 720px;
    padding: 12px;
}

.button-section1 {
    color: white;
    background-color:var(--green-color);
    width: 140px;
    border-radius: 30px;
    padding: 15px;
    text-align: center; 
    font-family: var(--style-font-paragraphs);
    font-size: 0.8rem;
    transition: color 0.5s ease-in-out;
    border: solid 1px var(--green-color);
}

.button-section1:hover {
    color:#13be77;
    font-weight: 600;
    background-color: var(--white-color);
    border: solid 1px var(--green-color);
}

.articles {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 80px;
    padding: 0;
}

article {
    margin-bottom: 70px;
}

.title-article {
    font-family: var(style --style-font-titles);
    font-size: 1.1rem;
    font-weight: 400;
}

.article-section1 {
    transition: box-shadow 0.6s ease-in-out;
    border-radius: 8px;
}

.article-section1:hover {
    box-shadow: 0 0 10px var(--almost-black-color);
}

.paragraph-article {
    width: 300px;
    font-family: var(--style-font-paragraphs);
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.9;
}

/* SECTION-2 */
.section2 {
    display: flex;
    align-items: center;
    margin: auto;
}

.image-section2 {
    width: 50%;
    transition: filter 0.3s ease;
}

.image-section2:hover {
    filter: grayscale(0%) brightness(120%);
}

.container-text-section2 {
    width: 50%;
}

.text-section2 {
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

.line-section2 {
    color: var(--green-color);
    font-family: var(--style-font-paragraphs);
    font-weight: 550;
    padding: 7px;
}

.title-section2 {
    font-size: 2.2rem;
    font-weight: 400;
}

.paragraph-section2 {
    font-family: var(--style-font-paragraphs);
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 1.9;
    width: 620px;
}

.graphics {
    padding: 0;
    width: 100px;
    display: block;
    margin-bottom: 10px; 
}

.graphic-container1 {
    width: 630px;
    flex-direction: column;
}

.text-number-graphic1 {
    display:flex;
    width: 405px;
    justify-content: space-between;
}

.graphic {
    margin: -5px;
}

.graphic-container2 {
    width: 630px;
    flex-direction: column;
}

.text-number-graphic2 {
    display:flex;
    width: 480px;
    justify-content: space-between;
}

.graphic-container3 {
    width: 630px;
    flex-direction: column;
}

.text-number-graphic3 {
    display:flex;
    width: 440px;
    justify-content: space-between;
}

.text-graphic {
    font-family: var(--style-font-paragraphs); 
    font-weight: 200; 
    font-size: 0.9rem;
}

.number-graphic {
    font-family: var(style --style-font-titles);
    font-weight: 200; 
    font-size: 0.9rem;
}

.button-section2 {
    display: block;
    color: var(--white-color);
    background-color:var(--green-color);
    width: 140px;
    border-radius: 30px;
    padding: 13px;
    text-align: center; 
    font-family: var(--style-font-paragraphs);
    font-size: 0.8rem;
    letter-spacing: 0.8px;
    margin-top: 35px;
    border: solid 1px var(--green-color);
}

.button-section2:hover {
    color:var(--green-color);
    font-weight: 600;
    background-color: var(--white-color);
    border: solid 1px var(--green-color);
}

/* SECTION-3 */
.section3 {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 60px;
    width: 1000px;
}

.line-section3 {
    color: var(--green-color);
    font-family: var(--style-font-paragraphs);
    font-weight: 550;
}

.title-section3 {
    font-size: 2.6rem;
    font-weight: 400;
    width: 400px;
    line-height: 1.2;
}

.text-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 15px;
}

.text-section3 {
    width: 50%;
}

.paragraph-section3 {
    font-family: var(--style-font-paragraphs);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 2;
    width: 463px;
    color: var(--clear2-black-color);
}

.gallery-menu {
    display: flex;
    gap: 10px;
    font-family: var(--style-font-paragraphs);
    font-size: 0.8rem;
    padding: 0;
    margin-bottom: 20px;
    position: sticky;
}

.gallery-menu-option-color-underline {
    color: var(--green-color);
    font-family: var(--style-font-paragraphs);
    font-size: 0.9rem;
    text-decoration: underline;
}

.gallery-menu-option-underline {
    color: var(--clear-black-color); 
    font-family: var(--style-font-paragraphs);
    font-size: 0.9rem;
    text-decoration: underline;
    
}

.gallery-menu-option-underline:hover {
    color: var(--green-color);
}

.photos-container {
    display: grid;
    width: 965px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0;
    overflow: hidden;
}

#photo1 { 
    grid-area: 1 / 1 / 3 / 2;
    transition: transform 0.3s ease; 
}

#photo1:hover {
    transform: scale(1.2);
}

#photo2 {
    grid-area: 1 / 2 / 2 / 3;
    transition: transform 0.3s ease; 
}

#photo2:hover {
    transform: scale(1.2);
}

#photo3 {
    grid-area: 2 / 2 / 3 / 3;
    transition: transform 0.3s ease; 
}

#photo3:hover {
    transform: scale(1.2);
}

#photo4 {
    grid-area: 1 / 3 / 3 / 5;
    transition: transform 0.3s ease;  
}

#photo4:hover {
    transform: scale(1.2);
}

#photo5 {
    grid-area: 3 / 1 / 5 / 3;
    transition: transform 0.3s ease;  
}

#photo5:hover {
    transform: scale(1.2);
}

#photo6 {
    grid-area: 3 / 3 / 4 / 5;
    transition: transform 0.3s ease; 
}

#photo6:hover {
    transform: scale(1.2);
}

#photo7 {
    grid-area: 4 / 3 / 5 / 4;
    transition: transform 0.3s ease; 
}

#photo7:hover {
    transform: scale(1.2);
}

#photo8 {
    grid-area: 4 / 4 / 5 / 5;
    transition: transform 0.3s ease;  
}

#photo8:hover {
    transform: scale(1.2);
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.youtube-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.lazy-youtube-embed {
    width: 560px !important;
    height: 315px !important;
    padding-top: 0 !important;
}

.lazy-youtube-embed > img {
    width: 560px !important;
    height: 315px !important;
}

.quote {
    display: grid;
    width: 800px;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    animation: expand-unexpand2 5s infinite ease-in-out;
}

.mark1 {
    grid-area: 1 / 1 / 2 / 2;
    place-self: end;
    align-self: end; 
}

.quote-text {
    grid-area: 2 / 2 / 3 / 3;
    font-size: 1.2rem;
    width: 480px;
    text-align: center;
}

.author {
    grid-area: 3 / 2 / 4 / 3;
    text-align: center;
}

.author-section3 {
    color: var(--green-color);
    font-family: var(--style-font-paragraphs);
    font-weight: 500;
    font-size: 0.8rem;
}

.mark2 {
    grid-area: 3 / 3 / 4 / 4; 
}

/* SECTION-4 */
.section4 {
    display: flex;
    align-items: center;
    margin: auto;
    color: var(--white-color);
    background-color: var(--green-color);
}

.container-text-section4 {
    width: 50%;
    display: flex;
    justify-content: end;
}

.text-section4 {
  margin: 15px;
}

.line-section4 {
    color: var(--white-color);
    font-family: var(--style-font-paragraphs);
    font-weight: 400;
    font-size: 0.9rem;
    padding: 7px;
}

.title-section4 {
    width: 520px;
    font-size: 2.4rem;
    font-weight: 400;
    margin-top: 5px;
}

.paragraph-section4 {
    width: 625px;
    font-family: var(--style-font-paragraphs);
    font-weight: 300;
    margin-bottom: 30px;
    text-align: left;
}

.button-section4 {
    display: block;
    color: white;
    font-family: var(--style-font-paragraphs);
    font-size: 0.6rem;
    text-align: center;
    background-color: var(--dark-grey-color);
    width: 110px;
    border-radius: 30px;
    padding: 8px; 
    border: solid 1px var(--dark-grey-color);
}

.button-section4:hover {
    color:var(--green-color);
    font-weight: 600;
    background-color: var(--white-color);
    border: solid 1px var(--green-color);
}

.container-arrows {
    position: relative;
}

.arrow1 {
    position: absolute;
    font-size:2rem;
    font-family: var(--style-font-paragraphs);
    font-weight: 300;
    color: var(--white-color);
    top: 80px;
}

.arrow2 {
    position: absolute;
    font-size:2rem;
    font-family: var(--style-font-paragraphs);
    font-weight: 300;
    color: white;
    top: 80px;
    left: 30px;
}

.photo-section4 {
    width: 50%;
}

/* SECTION-5 */
.line-section5 {
    margin-top: 50px;
    color: var(--green-color);
    font-family: var(--style-font-paragraphs);
    font-weight: 600;
    font-size: 0.8rem;
}

.line-section5-1 {
    margin-top: 8px;
    color: var(--green-color);
    font-family: var(--style-font-paragraphs);
    font-weight: 600;
    font-size: 0.8rem;
}

.text-section5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.title-section5 {
    width: 420px;
    font-size: 2.4rem;
    font-weight: 400;
}

.paragraph-section5 {
    width: 760px;
    font-family: var(--style-font-paragraphs);
    font-weight: 300;
    margin-bottom: 50px;
}

.articles2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    padding: 0;
}

.article2 {
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.6s ease-in-out;
}

.article2:hover {
    box-shadow: 0 0 10px var(--almost-black-color); 
    border-radius: 8px;
}

.title-articles2 {
    font-family: var(style --style-font-titles);
    font-size: 1.6rem;
    margin-bottom: 0;
}

.paragraph-article2 {
    font-weight: 300;
    font-size: 0.9rem;
    font-family: var(--style-font-paragraphs);
    line-height: 1.8;
}

.price {
    position: relative;
}

.dollar {
    position: absolute;
    top: 13px;
    left: -18px;
}

.big-number {
    font-family: var(style --style-font-titles);
    font-size: 3rem;
    font-weight: 600;
    margin-top: -15px;
    margin-left: -8px;
}

.month {
    margin-top: 30px;
}

.options {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.option {
    font-weight: 300;
    font-size: 0.9rem;
    font-family: var(--style-font-paragraphs);
    line-height: 2.2;
}

.button-article2 {
    color: var(--clear-black-color);
    background-color: var(--white-color);
    display:block;
    width: 120px;
    border: solid 1px var(--clear-black-color); 
    border-radius: 30px;
    padding: 8px; 
    margin-top: 10px;
    font-size: 0.8rem;
    font-family: var(--style-font-paragraphs);
}

.button-article2-color {
    color: var(--green-color); 
    background-color: var(--white-color);
    display:block;
    width: 120px;
    border: solid 1px var(--green-color);
    border-radius: 30px;
    padding: 8px; 
    margin-top: 10px;
    font-size: 0.8rem;
    font-family: var(--style-font-paragraphs);
}

.button-article2:hover, .button-article2-color:hover {
    background-color: var(--green-color);
    color: var(--white-color);
    border: solid 1px var(--green-color); 
}

.button4 {
    color:var(--green-color);
    background-color: white;
    width: 165px;
    border: solid 1px var(--green-color);
    border-radius: 30px;
    padding: 8px; 
}

/* SECTION-6 */
.section6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("imagenes/background2Top.png");
    background-size: cover;
    position: relative;
}

.elizabeth-h2 {
    display: none;
}

.quotation-image {
    margin-top: 50px;
}

.paragraph-section6 {
    font-family: var(--style-font-paragraphs);
    font-size: 0.8rem;
    font-weight: 400;
    width: 800px;
    color: white;
    margin-top: 50px;
    margin-bottom: 150px;
}

.elizabeth {
    position: relative;
    bottom: 95px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.elizabeth:hover {
    transform: rotate(15deg); 
}

.elizabeth-bottom {
    background-image: url("imagenes/background2Bottom.png");
    background-size: cover;
    width: 100%;
}

.description-elizabeth {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.amazon {
    font-family: var(--style-font-paragraphs);
}

.social-elizabeth {
    display:flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin-top: 0;
    margin-bottom: 20px;
}

.facebook-elizabeth, .twitter-elizabeth, .linkedin-elizabeth {
    transition: transform 0.5s ease, color 0.3s ease;
}

.facebook-elizabeth:hover, .twitter-elizabeth:hover, .linkedin-elizabeth:hover {
    transform: rotate(360deg);
}

/* FOOTER */
footer {
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
}

.contact-container {
    width: 50%;
    display: flex;
    justify-content: center;
}

.contact {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.line-footer {
    color: var(--green-color);
    font-family: var(--style-font-paragraphs);
    font-weight: 500;
}

.title-footer {
    font-size: 2.7rem;
    width: 330px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 10px;
}

.paragraph-footer1, .paragraph-footer2 {
    font-family: var(--style-font-paragraphs);
    font-size: 0.9rem;
}

.paragraph-footer1 {
    width: 346px;
}

.paragraph-footer2 {
    width: 270px;
    line-height: 2;
}

.social-contact-list {
    margin-top: 30px;
    padding: 0;
    display: flex;
    gap: 30px;
}

.facebook-contact, .twitter-contact, .google-contact, .linkedin-contact, .instagram-contact {
    transition: transform 0.5s ease, color 0.3s ease;
}

.facebook-contact:hover, .twitter-contact:hover, .google-contact:hover, .linkedin-contact:hover, .instagram-contact:hover {
    transform: rotate(360deg);
}

.maps {
    width: 50%;
}

/* MEDIA QUERIES TABLET */
@media (750px <= width <= 970px) {
    /* HEADER */
    .button1 {
        grid-area: 1 / 1 / 2 / 2;
        margin: 25px;
    }

    .logo {
        grid-area: 1 / 2 / 2 / 3;
        margin: 10px;
    }

    .m-logo {
        width: 80px;
    }

    nav {
        grid-area: 1 / 3 / 2 / 7;
    }

    .select-menu {
        margin-left: 50px;
    }

    .menu {
        gap: 30px;
        margin-left: 0;
    }

    .text-header {
        grid-area: 2 / 1 / 3 / 5; 
    }

    h1 {
        font-size: 2.4rem;
        width: 380px;
    }

    .paragraph-header {
        font-size: 0.8rem;
        width: 350px;
    }

    .social {
        grid-area: 2 / 5 / 3 / 7;
    }

    .input-form1, .input-form2, .input-form3 {
        width: 120px;
        font-size: 0.7rem;
        padding-top: 5px;
    }

    .button-form {
        width: 150px;
        font-size: 0.6rem;
        margin-left: 0;
    }

    /* SECTION-1 */
    .articles {
        flex-direction: column;
    }

    .article-section1 {
        margin: 0;
        padding: 0;
    }

    /* SECTION-2 */
    .section2 {
        flex-direction: column;
        align-items: start;
    }

    .image-section2 {
        width: 100%;
    }

    .text-section2 {
        width: 100%;
        margin-top: 50px;
    }

    /* SECTION-3 */
    .text-gallery {
        flex-direction: column;
        align-items: start;
        margin: 50px;
    }

    .gallery-menu {
        margin: 50px;
    }

    .photos-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-gap: 0;
        width: 500px;
        margin-left: 100px;
    }

    #photo1 { 
        grid-area: 1 / 1 / 3 / 2;
    }

    #photo2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    #photo3 {
        grid-area: 2 / 2 / 3 / 3;
    }

    #photo4 {
        grid-area: 3 / 1 / 5 / 3; 
    }

    #photo5 {
        grid-area: 5 / 1 / 7 / 3;
    }

    #photo6 {
        grid-area: 7 / 1 / 8 / 3;
    }

    #photo7 {
        grid-area: 8 / 1 / 9 / 2;
    }

    #photo8 {
        grid-area: 8 / 2 / 9 / 3;
    }

    video {
        width: 100%;
    }

    .video {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .quote {
        margin-left: -50px;
    }

    /* SECTION-4 */
    .section4 {
        flex-direction: column;
        align-items: end;
    }

    .photo-section4 {
        width: 100%;
        margin-top: 120px;
    }

    /* SECTION-5 */
    .paragraph-section5 {
        width: 650px;
    }

    .articles2 {
        flex-direction: column;
    }

    /* SECTION-6 */
    .paragraph-section6 {
        width: 650px;
    }

    /* FOOTER */
    footer {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .contact-container {
        width: 100%;
    }

    .iframe-maps {
        width: 100%;
    }
}

/* MEDIA QUERIES SMARTPHONE */
@media (width <= 480px) {
    /* HEADER */
    header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 0;
    }

    .button1 {
        grid-area: 1 / 1 / 2 / 2;
        margin: 25px;
    }

    .start {
        width: 20px;
    }
    
    .logo {
        grid-area: 1 / 2 / 2 / 3;
        margin: 10px;
        width: 20px;
    }
    
    .m-logo {
        width: 70px;
        margin-top: 10px;
    }
    
    nav {
        grid-area: 2 / 1 / 3 / 3;
    }
    
    .menu {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 0;
        width: 425px;
        margin:auto;
    }

    .select-menu {
        margin-left: 65px;
        margin-top: -6px;
        width: 15px;
    }

    .menu-text1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .menu-option {
        text-align: center;
    }

    .menu-text2 {
        grid-area: 1 / 2 / 2 / 3;
    }

    .menu-text3 {
        grid-area: 1 / 3 / 2 / 4;
    }

    .menu-text4 {
        grid-area: 2 / 1 / 3 / 2;
    }

    .menu-text5 {
        grid-area: 2 / 2 / 3 / 3;
    }

    .menu-text6 {
        grid-area: 2 / 3 / 3 / 4;
    }
   
    .text-header {
        grid-area: 3 / 1 / 4 / 3;
        margin-top: -100px;
    }
    
    h1 {
        font-size: 2rem;
        width: 350px;
    }
    
    .paragraph-header {
        font-size: 0.8rem;
        width: 350px;
    }
    
    .social {
        grid-area: 4 / 1 / 5 / 3;
    }

    .social-menu {
        flex-direction: row;
        gap: 40px;
    }

    .facebook, .twitter, .linkedin, .instagram {
        margin: 5px;
        padding: 5px;
    }

    .form-container {
        grid-area: 5 / 1 / 6 / 3;
        margin-top: -45px;
        padding: 15px;
        width: 350px;
    }

    form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 0;
    }
    
    .input-form1 {
        grid-area: 1 / 1 / 2 / 2;
        width: 120px;
    }

    .input-form2 {
        grid-area: 1 / 2 / 2 / 3;
        width: 120px;
    }

    .input-form3 {
        grid-area: 2 / 1 / 3 / 2;
        width: 120px;
    }
    
    .button-form {
        grid-area: 2 / 2 / 3 / 3;
        width: 130px;
        font-size: 0.6rem;
        margin-left: 0;
    }

    /* SECTION-1 */
    .text-section1 {
        width: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .line-section1 {
        width: 120px;
    }

    .title-section1 {
        width: 400px;
        font-size: 1.9rem;
    }

    .paragraph-section1 {
        width: 400px;
    }
    
    .button-section1 {
        width: 100px;
        padding: 10px;
        margin-bottom: 50px;
        font-family: var(--style-font-paragraphs);
    }

    .articles {
        flex-direction: column;
    }
    
    .article-section1 {
        margin: 0;
        padding: 0;
    }
    
    /* SECTION-2 */
    .section2 {
        flex-direction: column;
        align-items: start;
    }
    
    .image-section2 {
        width: 100%;
    }

    .title-section2 {
        width: 300px;
        font-size: 1.9rem;
    }

    .paragraph-section2 {
        width: 400px;
    }

    .graphic-container, .graphic-container2, .graphic-container3 {
        width: 400px;
    }

    .graphic {
        width: 350px;
    }

    .text-number-graphic1 {
        width: 490px;
    }

    .text-number-graphic2 {
        width: 545px;
    }

    .text-number-graphic3 {
        width: 520px;
    }

    .number-graphic {
        padding-right: 200px;
    }
    
    .text-section2 {
        width: 100%;
        margin-top: 50px;
    }

    .button-section2 {
        width: 100px;
        padding: 10px;
    }
    
    /* SECTION-3 */
    .section3 {
        width: 450px;
    }

    .text-gallery {
        flex-direction: column;
        align-items: start;
        margin: 50px;
    }

    .title-section3 {
        font-size: 1.9rem;
    }

    .paragraph-section3 {
        width: 380px;
    }
    
    .gallery-menu {
        margin: 50px;
    }
    
    .photos-container {
        display: flex;
        margin: auto;
        flex-direction: column;
        align-content: center;
        width: 280px;
    }
    
    #photo1, #photo2, #photo3, #photo4, #photo5, #photo6, #photo7, #photo8 { 
        width: 280px;
    }

    video {
        width: 100%;
    }

    .video {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .quote {
        width: 280px;
    }

    .quote-text {
        width: 200px;
    }
    
    /* SECTION-4 */
    .section4 {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container-text-section4 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .text-section4 {
        width: 350px;
        margin: 0;
    }

    .title-section4 {
        width: 350px;
        margin: 0;
        font-size: 1.9rem;
    }

    .paragraph-section4 {
        width: 350px;
    }
    
    .photo-section4 {
        width: 100%;
        margin-top: 120px;
    }

    .button-section4 {
        width: 120px;
        padding: 12px;
        font-size: 0.9rem;
    }

    /* SECTION-5 */
    .title-section5 {
        font-size: 1.9rem;
    }
    
    .paragraph-section5 {
        width: 350px;
    }
    
    .articles2 {
        flex-direction: column;
    }
    
    /* SECTION-6 */
    .paragraph-section6 {
        width: 350px;
    }
    
    /* FOOTER */
    footer {
        flex-direction: column;
        align-items: start;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .contact {
        width: 100%;
    }
    
    .contact-container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    
    .iframe-maps {
        width: 400px;
        margin-left: 25px;
    }
}


